/* worksans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style */
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  
}
.btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    border-style: none;
    margin-top: 41px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background:  #FF42A5;
    text-transform: uppercase;
}
.btn-primary:hover{
    cursor: pointer;
    background-color: lightpink;
}
/* head section start */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-height: 130px;

}
.header-img{
    width: 86.041px;
    height: 40px;
}
/* gamer header */
.section-title{
    font-size: 45px;
    font-weight: 700;
    margin-top: 38px;
    
   
}
.gamer-name{
    color: #FF42A5;

}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 240px;
    margin-left: 240px;
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 32px;
    margin-top: 54px;
    color: #3C354F;
    
}
nav li a{
    text-decoration: none;
}
.title-img{
    width: 33.916px;
    height: 24px;
   

    
    
}
.media-title{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding:3px 16px;
    margin-bottom: 55px;
    gap: 18px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.media-title:hover{
    cursor: pointer;
}
/* header part end */
/* banner section */
.banner-all{
    display: flex;
    max-height: 700px;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    
}
.banner{
    margin-left: 240px;
    width: 901px;
    max-height: 700px;
    margin-right: 370px;
    margin-top: 148px;
    /* padding-left: 240px; */
    
}
.banner-title{
    color: #0B0223;
    
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-img img{
     width: 711px;
    height: 689px;
    padding-right: 240px;
}

.goat{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
 .go{
    background-color: #4EC5F7;

}
.sidebar{
    /* height: 24px; */
    /* position: fixed; */
    /* text-align: center; */
    
}
.sidebar a {
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    font-size: 20px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
/* we are gamer */
.main-part{
    display: flex;
}
.main-gamer{
    /* margin-right: 240px; */
    text-align: right;
}
.main-title{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 95px;
    margin-bottom: 24px;
}
.main-description{
    width: 520px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.main-btn{
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;


}
.main-purpose{
    margin-bottom: 96px;

}
.main-img img{
    width: 868px;
    height: 489px;
    margin-left: 240px;
    margin-right: 50px;

}

/* online games funny videos */
.funny{
    justify-content: center;
    text-align: center;
}

.funny-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;

    
}
.funny-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}
.funny-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    
}
.funny-img{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-left: 240px;
    margin-right: 240px;

}
.container{
    width: 342px;
    height: 400px;
    border-radius: 8px;
    padding: 15px;
    position: relative;
}
.image{
    opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .container:hover .image {
    opacity: 0.3;
    cursor: pointer;
  }

  .container:hover .middle {
    opacity: 1;
  }
  .icon-text {
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: Linear;

    }
    /* sponser section */
    .sponsors-box{
        display: flex;
        gap: 16px;
        width: 248px;
        height: 80px;
    }
    .sponsors-img-container{
        display: flex;
        justify-content: space-around;
        margin-left: 239px;
        margin-right: 300px;

    }

    .sponsors-img-container2{
        display: flex;
        justify-content: space-around;
        margin-left: 335px;
        margin-right: 377px;
        margin-top: 28px;
        margin-bottom: 130px;

    }

    .sponsors-box:hover{
        cursor: pointer;
        border: 1px solid pink;
        border-radius: 50px;
        padding: 5px;
    }
  







/* play instantly section */

.instantly{
    display: flex;
}
.intant-title, .instant-description{
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
    margin-top: 336px;
    margin-left: 400px;
    margin-right: 265px;
}
.instant-description{
    margin-top: 24px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.intant-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hourse{
    width: 634.833px;
   height: 650px;
   border-radius: 8px;
   margin-right: 240px;
   margin-top: 120px;

}
.meow img{
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
    position: relative;
    bottom: 300px;
    right: 150px
}
/* footer section */
.footer{
    height: 636px;
    text-align: center;
    background: #0B0223;
    color: #FFF;
}
.footer-title{
    margin-top: 250px;
    padding-top: 120px;
}


.footer-li{
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: -367px;
    margin-left: 553px;
    margin-right: 553px;
    }

    .social-icon img{
        width: 40px;
        height: 40px;

    }
    .social-icon{
        display: flex;
        justify-content: space-between;
        margin-left: 731px;
        margin-right: 731px;
        margin-top: 66px;

    }

    .privacy p{
        color: rgba(255, 255, 255, 0.60);
        font-size: 16px;
        font-weight: 500;

    }

    .privacy{
        display: flex;
        justify-content: space-between;
        margin-left: 616px;
        margin-right: 616px;
        margin-top: 74px;
    }
    .copyright{
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

   
/* resposor */



/* mobile devic resposive */
@media screen and (max-width: 576px) {
    header{
        max-height: 350px;
        max-width: 576px;
    }
    nav, nav>ul{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;

    }
    
    nav>ul{
        margin-top: 10px;
    }
    .banner-all{
        flex-direction: column-reverse;
        margin-top: 0;
        gap: 0;
        
        margin-top: 700px;
        /* max-width: 50%; */
       
    }
    .banner{
        margin-left: 5px;
    }
    /* .banner-all{
        flex-direction: column-reverse;
    } */
    
    .banner-img img{
        width: 320px;
        height: 282px;
        margin-left: 10px;
        /* max-height: 100%; */
        
        padding: 0px;
    }
    .main-part{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        margin-left: 0;
    }
    .main-part{
        max-width: 250px;
        /* text-align: center; */
    }
    .main-description{

        text-align: center;
        font-size: 16px;
        margin-left: 50px;
        margin-right: 500px;
    }
    .main-img img{
        width: 90%;
        height: 90%;
        margin-left: 70px;
        margin-top: 50px;
    }
    .main-title, .main-description, .main-btn, .main-purpose, .main-description, .main-unleash{
        font-size: 90%;
        /* text-align: center; */
        max-width:  320px;
    
        
    }
    
    .funny-img{
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .container{
        padding-bottom:45px;
    }
    .sponsors-img-container, .sponsors-img-container2{
        display: grid;
       grid-template-columns:(2,4fr);
    }
    .sponsors-img-container2{
        margin-left: 150px;
    }
    
}
